<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>CRUD NodeJs</title>
        <link rel="stylesheet" href= "./css/style.css">
    </head>
    <body>
        {{{body}}}

        <script src="./js/javascript.js"></script>
    </body>
</html>